@import "syntax-variables";

atom-text-editor {
    background-color: @syntax-background-color;
    color: @syntax-text-color;

    .invisible-character,
    .wrap-guide,
    .indent-guide{
        color: @syntax-invisible-character-color;
        opacity: 0.8;
    }

    .wrap-guide {
        width: 1px;
    }

    .gutter {
        background-color: @syntax-gutter-background-color;
        color: @syntax-gutter-text-color;
    }

    .gutter .line-number.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
    }

    .gutter .line-number.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
    }

    .selection .region {
        background-color: @syntax-selection-color;
    }

    .search-results .syntax--marker .region {
        background-color: transparent;
        border: @syntax-result-marker-color;
    }

    .search-results .syntax--marker.current-result .region {
        border: @syntax-result-marker-color-selected;
    }

    .cursor {
        color: @syntax-cursor-color;
    }

    .line.cursor-line {
        background-color: @syntax-cursor-line-color;
    }
}

.syntax--comment {
    color: @comment;
}
.syntax--string {
    color: @string;
}

/** CONSTANTS **/
.syntax--constant {
    color: @constant;
}
.syntax--constant.syntax--numeric,
.syntax--constant.syntax--language,
.syntax--constant.syntax--character,
.syntax--constant.syntax--other {
    font-weight: bold;
}
.syntax--constant.syntax--entity {
    color: @entity;
}

/** VARIABLES **/
.syntax--variable {
    color: @variable;
}
.syntax--variable.syntax--parameter {
    font-style: italic;
}
.syntax--variable.syntax--other.syntax--property {
    color: @variable-prop;
    font-weight: normal;
}

/** KEYWORDS - bold */
.syntax--keyword {
    color: @keyword;
    font-weight: bold;
}
.syntax--keyword.syntax--other {
    font-weight: normal;
}
.syntax--keyword.syntax--other.syntax--unit {
    color: @constant;
}

/** STORAGE  **/
.syntax--storage {
    color: @storage;
}
.syntax--storage.syntax--modifier,
.syntax--storage.syntax--type {
    font-weight: bolder;
}

/** ENTITIES  **/
.syntax--entity {
    color: @entity;
}
.syntax--entity.syntax--name.syntax--class,
.syntax--entity.syntax--name.syntax--function {
    font-weight: bolder;
}
.syntax--entity.syntax--other.syntax--attribute-name {
    color: @constant;
}

/** SUPPORT **/
.syntax--support {
    color: @support;
}
.syntax--support.syntax--constant {
    color: @constant;
    font-weight: bolder;
}
.syntax--support.syntax--function {
    font-weight: bolder;
}
.syntax--support.syntax--type,
.syntax--support.syntax--function.syntax--magic {
    font-style: italic;
}

/** META **/
.syntax--meta.syntax--function-call {
	color: @function;
}
.syntax--meta.syntax--function-call.syntax--object {
	font-style: italic;
}
.syntax--meta.syntax--function-call.syntax--arguments {
	color: @variable;
}
.syntax--punctuation.syntax--definition.syntax--arguments.syntax--begin,
.syntax--punctuation.syntax--definition.syntax--arguments.syntax--end  {
    font-weight: bolder;
	color: @variable;
}
.syntax--meta.syntax--brace.syntax--curly,
.syntax--punctuation.syntax--section.syntax--property-list,
.syntax--punctuation.syntax--section.syntax--scope {
    font-weight: bold;
}

/** Punctuation **/
.syntax--punctuation.syntax--entity {
    color: @entity;
}
.syntax--punctuation.syntax--keyword {
    color: @keyword;
}
.syntax--punctuation.syntax--comment {
    color: @comment;
}
.syntax--punctuation.syntax--storage,
.syntax--entity.syntax--other.syntax--attribute-name .syntax--punctuation {
    color: @storage;
}
.syntax--punctuation.syntax--support {
    color: @support;
}
.syntax--punctuation.syntax--variable {
    color: @variable;
}

/** INVALID **/
.syntax--invalid {
    color: @syntax-text-color;
    background-color: @syntax-color-removed;
}
.syntax--invalid .syntax--deprecated {
	color: @syntax-text-color;
	background-color: @syntax-color-modified;
}

/** OTHER **/
.syntax--focusable-panel {
    opacity: 1;
    box-shadow: inset -3px 0 0 rgba(0,0,0, .05);
}

/** Markdown **/
.syntax--source.syntax--gfm .syntax--markup {
    -webkit-font-smoothing: auto;
    &.syntax--heading {
        color: @support;
    }
    &.syntax--markup.syntax--raw,
    &.syntax--markup.syntax--raw .syntax--support {
        color: @comment;
    }
}

/** git updates **/
.syntax--git-line-added,
.syntax--git-line-added:before {
    color: @syntax-color-added;
    opacity: 1;
}
.syntax--git-line-modified,
.syntax--git-line-modified:before {
    color: @syntax-color-modified;
    opacity: 1;
}
.syntax--git-line-removed,
.syntax--git-line-removed:before {
    color: @syntax-color-removed;
    opacity: 1;
}
